body{
    background-image: url(swirl_pattern.png);
}

.container-header {
    width: 100%;
    background-color: #f8f9fa;
    height: 98px;
    z-index: 2;
    border-bottom: #ccc solid 2px;
    margin: 0 auto;
}

.navbar {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    border-bottom: #ccc solid 2px;
}

.navbar-brand {
    background-color: #56B5A1;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
}

.navbar-brand:hover {
    background-color: #FFB97A;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h1 {
    color: #ffffff!important;

}

h2 {
    color: #56B5A1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;

}

.jumbotron {
    background-color: #ffffff;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0;
    border: solid #dddddd 1px;
    margin: 20px auto;
    padding: 20px;
    max-width: 960px;

}

#wrapper-about {
    max-width: 960px;
    margin: 20px auto;
}

#profile-pic {
    float: left!important;
    padding: 10px;
    padding-right: 20px;
    width: 200px;
}

p {
    padding: 10px 10px 0px 10px;
}

.fixed-bottom {
    background-color: #777777;
    color: #ffffff;
    border-top: teal solid 4px;
    text-align: center;
    padding: 10px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    margin-bottom: 40px;
}   

.btn {
    border-radius: 0px;
    background-color: #56B5A1;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px
}

.btn:hover {
    background-color: #FFB97A;
}

.btn-port {
    padding: 10px;
    width: 202px;
    position: absolute;
    left: 39px;
    bottom: 30px;
    border-radius: 0px;
    background-color: #56B5A1;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-style: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-port:hover {
    background-color: #FFB97A;
    color: #777777;
}

.img-thumbnail {
    float: left;
    border-style: none;
    margin: 20px;
    width: 210px;
}

@media screen and (max-width: 768px) {
    body {
        margin: auto;
    }
}
